<!-- LOGO -->
<div
  class="mt-4 w-10 h-10 rounded-xl bg-primary text-white
         flex items-center justify-center font-bold">
  W
</div>

<!-- NAV -->
<nav class="flex flex-col gap-4 mt-8">

  <a routerLink="/dashboard"
     routerLinkActive="active"
     class="sidebar-item">
    🏠
    <span class="label">Dashboard</span>
  </a>

  <a routerLink="/history"
     routerLinkActive="active"
     class="sidebar-item">
    📊
    <span class="label">History</span>
  </a>

  <a routerLink="/audit-logs"
     routerLinkActive="active"
     class="sidebar-item">
    📝
    <span class="label">Audit Logs</span>
  </a>

  <a routerLink="/requests"
     routerLinkActive="active"
     class="sidebar-item">
    📥
    <span class="label">Requests</span>
  </a>

  <a routerLink="/profile"
     routerLinkActive="active"
     class="sidebar-item">
    👤
    <span class="label">Profile</span>
  </a>

</nav>
